<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}MerchByAmazon | Master Listing{% endblock %}</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

        <!-- Styles -->
        <link href="../assets/css/core.min.css" rel="stylesheet">
        <link href="../assets/css/app.min.css" rel="stylesheet">
        <link href="../assets/css/style.min.css" rel="stylesheet">
        <link href="../assets/css/main.css" rel="stylesheet">

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="../assets/img/apple-touch-icon.png">
        <link rel="icon" href="../assets/img/favicon.png">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MerchByAmazon Master Listing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item badge-success">
                        <a class="nav-link" href="{{ path('app_masterCreate') }}" style="color: white">Create Master Listing</a>
                    </li>
                    <li class="nav-item" style="height: 33px;">
                        <p class="nav-link">Hello, {{ app.user.username }}</p>
                    </li>
                    <li class="nav-item " style="height: 33px;">
                        <a class="nav-link" href="{{ path('logout') }}" style="color: white">Logout</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item " style="height: 33px;">
                            <a class="nav-link badge-danger" href="{{ path('app_admin') }}" style="color: white">Admin</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
    <div class="container-fluid" id="main_container">
        <div class="container-fluid">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>User ID</th>
                </tr>
                </thead>
                <tbody>
                {% for master in posts %}
                    <tr>
                        <th scope="row">{{ master.master_id }}</th>
                        <td> {{ master.title }}</td>
                        <td>{{ master.userId }}</td>
                        <td><a class="badge badge-info" href="{{ path('app_list')}}/{{ master.master_id}}">View</a></td>
                        <td><a class="badge badge-info" href="{{ path('app_masterEdit')}}/{{ master.master_id}}">Edit</a></td>
                        <td><a class="badge badge-danger" href="{{ path('app_masterDelete')}}/{{ master.master_id}}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% block javascripts %}
    <!-- Scripts -->
    <script src="../assets/js/core.min.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/js/script.min.js"></script>
{% endblock %}
    </div>
</body>
</html>